
body{
	background-color: #F5F5F5;
}
.header{
	background-color: #EB2E15;
}
.headerTitle,.headerRight{
	color: #fff;
}





.book-block{
	display: flex;
	padding: 0.15rem 0.12rem 0;
	background-color: #fff;
}
.checked{
	display: flex;
	padding: 0.15rem 0.12rem 0;
	background-color: #fff;
}
.book-img{
	width: 0.8rem;
	height: 0.8rem;
	margin: 0 0.1rem;
	border-radius: 0.05rem;
}
.book-info{
	border-bottom: 1px solid #F1F1F1;
	padding-bottom: 0.17rem;
}
.book-name{
	color:#000000;
	font-size: 0.18rem;
	#display: inline-block;
	white-space: nowrap; 
	width: 100%; 
	overflow: hidden;
	text-overflow:ellipsis;
	text-emphasis-style: thick
}

.book-description{
	color: #000000;
	font-size: 0.15rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.book-detail{
	color:darkred;
	font-size: 0.15rem;
	align-items:flex-end
}








.checkbox-wrap{
	position: relative;
	top: -0.06rem;
	display: flex;
	align-items: center;
}
.total-wrap .checkbox-wrap{
	top: 0;
	margin-right: 0.1rem;
}
.tick{
	width: 0.2rem;
}
.checkbox{
	position: absolute;
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 100%;
	opacity: 0;
}






.footer{
	box-shadow:0 0 0;
}
.total-wrap{
	position: fixed;
	width: 100%;
	background-color: #fff;
	bottom: 0.5rem;
	box-shadow:0px -1px 0px rgba(235,235,235,1);
}
.total-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.04rem 0.12rem;
}
.total-left{
	display: flex;
	align-items: center;
/*	color: #1A1A1A;*/
	font-size: 0.13rem;
}
.total-right{
	display: flex;
	align-items: center;
}
.total-btn{
	width: 1.16rem;
	line-height: .42rem;
	border: 0;
	background-color: #EB2E15;
	font-size: 0.15rem;
	color: #fff;
	border-radius: 50rem;
	margin-left: 0.09rem;
}
.total-right span{
	color: #EF0F00;
}
.symbol,.integer{
	font-size: 0.17rem;
}
.point{
	font-size: 0.12rem;
}
.total-right button span{
	color: #fff;
}

/*
#.checkbox-wrap{
#	display: none;
#}

#.delete-btn{
#	display: none;
#}
#.total-wrap{
#	display: none;
#}
*/
