<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
    <script src='https://code.jquery.com/jquery-1.10.2.min.js'></script>
    <script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .swiper-bg {
            background: url('./bg.png') no-repeat 80%;
            height: 300px;
        }

        .swiper-wrapper {
            position: absolute;
            top: 0;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
        }

    </style>


    <style>
      .control{ z-index:99999; bottom:15px; left:38%; position:absolute; }
    </style>

    <script>
        function heatsearch(){
          var query = 'for heat search.';
          $.ajax({
              type: "GET",
              dataType: "json",
              url: './heatsearch',
              contentType: "application/json",
              data:JSON.stringify({
                  "query":query
              }),
              complete: function(xmlHttp) {
                obj = JSON.parse(xmlHttp.responseText);
                $("#heat").append(xmlHttp.responseText);
              }
          });
        }
      </script>

      <script type="text/javascript">

        function OnInput (event) {
          var inputValue = event.target.value;
            $.ajax({
              type: "GET",
              dataType: "json",
              url: './completion/'+inputValue,
              contentType: "application/json",
              data:JSON.stringify({
              }),
              complete: function(xmlHttp) {
                // xmlHttp is a XMLHttpRquest object
                obj = JSON.parse(xmlHttp.responseText);
                console.log(obj);
                array = obj.data.list;

                jQuery('.autocomplete').autocomplete({
                  at: "left down",
                  delay: 1000,
                  source: array,
                  minLength:2,
                });
              }
            });
        };

      </script>

<title>{% block title %}{% endblock %}</title>

<style>
    body {
        background-image: url("../static/images/default.png");
    }
  .container{
      float: none;
      display: block;
      margin-left: auto;
      margin-right:auto;
      width: 50%;
  }
  .container img{
    float: left;
    margin-right: 15px;
    width: 100px;
	height: 150px;
  }
  .container p{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:6;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  .ui-autocomplete {
    max-height: 100px;
    max-width:420px;
    overflow-y: auto;
    overflow-x: hidden;
  }

.d-flex input{
  width:200px;
}
.d-flex button{
    float:left;
	width:100px;
	height:40px;
	background:url("../static/images/btn-search.jpg") no-repeat left top;
	color:#FFF;
}

.logo{
    width: 100%;
    height: 150px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
    }
.logo img{
	float:left;
	margin-left: 45%;
	margin-bottom: 25px;
	margin-top: 20px;
	align-self: center;
	width:80px;
	height:100px}

.ui-widget{
    float:left;
    width:100%;
    height:100px;
}
 .form-control{
    float: left;
    width: 420px;
	height: 40px;
}

/*
input{
      border: 2px solid black;
      }
input[type=text]:focus{
outline: none;
}
*/

.heatTitle{
  float:none;
  width:600px;
  height:40px;
}
.heatTitle img{
    margin-left:0px;
	float:left;
	width:25px;
	height:25px
}
.ht{
    float:left;
    margin-left: auto;
    font-family: verdana, sans-serif;
    color: #FF6E14;
    font-weight: bold;
    font-variant: small-caps;
}

</style>
  </head>
  <body>

    {% block boardcast %}
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="../static/css/swiper.min.css">
      <script src="../static/swiper.min.js"></script>
      <link rel="stylesheet" href="../static/css/boardstyle.css">

      <div class="main" id="boardcast">
        <div class="title"><h2>Best Sellers</h2></div>
        <div class="w-imgText" id="imgText">
            <div class="swiperBox">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide" data-title="">
                        <div class="item">
                            <div class="imTB">
                                <div class="img">
                                    <img src="../static/images/boardcast1.png"/>
                                </div>
                                <div class="textB">
                                    <div class="bg_x"></div>
                                    <div class="text_x">
                                        <div class="tt_h">If I Stay</div>
                                        <p>An Interview with Gayle FormanQ: You started your career as a journalist and your first book is a travelogue about going around the world. Is YA literature a departure for you?Gayle Forman: Actually, it&#x2019;s more of a homecoming. My first writing job was at Seventeen, where I spent five years on staff and as a contributor reporting the magazine&#x2019;s social-issues stories. I loved writing for teens then because&#x2014;contrary to popular opinion&#x2014;they really care about serious issues (from child soldiers in Africa to kids embroiled in the drug war here) and the engage in their reading with such passion. So, now that I&#x2019;m writing young-adult literature, it feels like I&#x2019;ve come full circle.</p>
                                    </div>
                                </div>
                            </div>
                        <a href="#"></a></div>
                    </li>
                    <li class="swiper-slide" data-title="">
                        <div class="item">
                            <div class="imTB">
                                <div class="img">
                                    <img src="../static/images/boardcast2.png"/>
                                </div>
                                <div class="textB">
                                    <div class="bg_x"></div>
                                    <div class="text_x">
                                        <div class="tt_h">Gone Girl: A Novel</div>
                                        <p>Amazon Best Books of the Month, June 2012: On the day of their fifth wedding anniversary, Nick's wife Amy disappears. There are signs of struggle in the house and Nick quickly becomes the prime suspect. It doesn't help that Nick hasn't been completely honest with the police and, as Amy's case drags out for weeks, more and more vilifying evidence appears against him. Nick, however, maintains his innocence. Told from alternating points of view between Nick and Amy, Gillian Flynn creates an untrustworthy world that changes chapter-to-chapter. CallingGone Girla psychological thriller is an understatement. As revelation after revelation unfolds, it becomes clear that the truth does not exist in the middle of Nick and Amy's points of view.</p>
                                        <p>--Caley Anderson</p>
                                    </div>
                                </div>
                            </div>
                        <a href="#"></a></div>
                    </li>
                    <li class="swiper-slide" data-title="">
                        <div class="item">
                            <div class="imTB">
                                <div class="img">
                                    <img src="../static/images/boardcast3.png"/>
                                </div>
                                <div class="textB">
                                    <div class="bg_x"></div>
                                    <div class="text_x">
                                        <div class="tt_h">Frozen Little Golden Book (Disney Frozen)</div>
                                        <p>Fearless optimist Anna sets off on an epic journey—teaming up with rugged mountain man Kristoff and his loyal reindeer Sven—to find her sister Elsa, whose icy powers have trapped the kingdom of Arendelle in eternal winter. Encountering Everest-like conditions, mystical trolls and a hilarious snowman named Olaf, Anna and Kristoff battle the elements in a race to save the kingdom. Children ages 2-5 will enjoy this Little Golden Book retelling Disney Frozen. "About this title" may belong to another edition of this title.</p>
                                    </div>
                                </div>
                            </div>
                        <a href="#"></a></div>
                    </li>
                </ul>
            </div>
            <div class="igt_page"></div>
        </div>
        <div class="igt_page_text">
            <ul class="clearfix">
            </ul>
        </div>
        <script type="text/javascript">
        $(function(){
            var imgTextId=$('#imgText');
            var swiperId=imgTextId.find('.swiperBox');
            var pagediv=imgTextId.find('.igt_page');
            var igtli=imgTextId.find('li');
            var igtliW=100*1.0/igtli.length + '%';
            var titles=[];
            var _html = '';
            igtli.each(function (index) {
                var title=$(this).attr('data-title');
                if(index===0){
                    _html += '<li class="igt_li on" style="width:' + igtliW  + ';"><div class="item_span"><div class="adore"></div><div class="num">0' + (index+1) + '</div><div class="tit">' + title + '</div></div></li>';
                }else{
                    _html += '<li class="igt_li" style="width:' + igtliW  + ';"><div class="item_span"><div class="adore"></div><div class="num">0' + (index+1) + '</div><div class="tit">' + title + '</div></div></li>';
                }
            });
            imgTextId.siblings('.igt_page_text').find('ul').append(_html);
            var swiper1 = new Swiper(swiperId, {
                effect : 'slide',
                autoplay : {
                    delay:8000,//滚动速度
                    disableOnInteraction: false,
                },
                pagination: {
                    el: pagediv,
                    type: 'custom',
                    renderCustom: function (swiper, current, total) {
                        return '<span class="on">0' + current + '</span><span>/</span><span>0' + total + '</span>';
                    }
                },
              on:{
                slideChange: function(){
                    var index = this.activeIndex;
                    imgTextId.siblings('.igt_page_text').find('li').eq(index).addClass('on').find('.adore').addClass('bg_main');
                    imgTextId.siblings('.igt_page_text').find('li').eq(index).siblings('li').removeClass('on').find('.adore').removeClass('bg_main');
                }
              }
            })
            imgTextId.siblings('.igt_page_text').on('click','li',function(){
                if (!$(this).hasClass('on')){
                    var thisI = $(this).index();
                    $(this).addClass('on').find('.adore').addClass('bg_main');
                    $(this).siblings('li').removeClass('on').find('.adore').removeClass('bg_main');
                    swiper1.slideTo(thisI, 1000, false);
                }

            });
        })
      </script>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block heat %}
    {% endblock %}

    {% block result %}
    {% endblock %}

    <button onclick=changeMode() type="button" id="switchMode" class="btn btn-secondary position-fixed" style="bottom:50px;right:10px"><i class="bi bi-lightbulb-off"></i></button>


    <script type="text/javascript">
      var isSearchID = false;
      function booleanAdd(){
          var inx = document.getElementsByClassName("form-control").length;
          var searchList = document.getElementById('searchForm');
          var newInput = document.createElement('input');
          newInput.type = 'text';
          newInput.id = 'query'+inx;
          newInput.classList.add('form-control');
          newInput.classList.add('autocomplete');
          newInput.placeholder="And";
          searchList.appendChild(newInput);

          newInput.oninput=function OnInput (event) {
            var inputValue = event.target.value;
            var inx = document.getElementsByClassName("form-control").length-1;
            <!--console.log(inx);-->
              $.ajax({
                type: "GET",
                dataType: "json",
                url: './completion/'+inputValue,
                contentType: "application/json",
                data:JSON.stringify({
                }),
                complete: function(xmlHttp) {
                  // xmlHttp is a XMLHttpRquest object
                  obj = JSON.parse(xmlHttp.responseText);
                  array = obj.data.list;
                  jQuery('#query'+inx).autocomplete({
                    source: array,
                    minLength:2
                  });
                }
              });
          };
      };

      function delLastInput(){
        var inputNum = $('#searchForm').find('.form-control').length;
        if (inputNum > 1) {
            var searchingForm = document.getElementById('searchForm');
            searchingForm.removeChild(searchingForm.lastElementChild);
        }
      };


      function search(){
        if (isSearchID===true) {
            return searchById()
        }
        var elLength = document.mainForm.elements.length;
        var textNum = 0;
        let textArray=[];
        let boolean=[];
        var search_desc='False';
        for (i=0; i<elLength; i++)
        {
          var type = mainForm.elements[i].type;
          if (type=="checkbox" && mainForm.elements[i].checked){
            search_desc='True';
          }
          else if (type=="text") {
            textNum ++;
            textArray.push(mainForm.elements[i].value);
            <!--console.log(textNum);-->
          }
          else {
          }
        }
        for (i=1; i<textNum; i++)
        {
          boolean.push('AND')
        }

        $("#searchWrapper").append(function () {
            s = '<div id="spinnerWrapper" class="d-flex justify-content-center"><div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div></div>'
            return s;
        });

        $.ajax({
          type: "GET",
          dataType: "json",
          url: './search',
          contentType: "application/json",
          data:JSON.stringify({
              "query":textArray,
              "boolean":boolean,
              "search_desc":search_desc
          }),
          complete: function(xmlHttp) {
            // xmlHttp is a XMLHttpRquest object
            $('.spinner-border').remove();
            console.log(xmlHttp.responseText);
            $('#results').html("");
            $("#results").append(xmlHttp.responseText);
            $('#heat').remove();
            $('#logo').remove();
            $('#boardcast').remove();
            displayDiv(1);
            var bg_img = $("body").css("background-image");
            $(".card-body").css({backgroundImage: bg_img});
          }
        });

        var bg_img = $("body").css("background-image");

        $("#searchWrapper").css({position: "fixed",paddingTop:10, top: 0, zIndex:100, backgroundImage: bg_img, width: "49%"})
      }

      function searchById(){
        var searchId = $("#query").val();
        let textArray=[];
        textArray.push(searchId);
        $.ajax({
          type: "GET",
          dataType: "json",
          url: './searchID/'+searchId,
          contentType: "application/json",
          data:JSON.stringify({
              "query":textArray,
              "boolean":[],
              "search_desc":'True'
          }),
          complete: function(xmlHttp) {
            // xmlHttp is a XMLHttpRquest object
            console.log(xmlHttp.responseText);
            $('#results').html("");
            $("#results").append(xmlHttp.responseText);
            $('#heat').remove();
            $('#logo').remove();
            $('#boardcast').remove();
            var bg_img = $("body").css("background-image");
            $(".card-body").css({backgroundImage: bg_img})
          }
        });

      }

      var nextMode = "darkly"

      function changeMode() {
            if (nextMode === "darkly") {
                nextMode = "default";
                $('.bi-lightbulb-off').addClass("bi-lightbulb").removeClass("bi-lightbulb-off");
                $('body').css({'background-image':'url(../static/images/darkly.png)', "color": "white"});
                $("#searchWrapper").css('background-image','url(../static/images/darkly.png)')
                $(".card-body").css('background-image','url(../static/images/darkly.png)')

            } else {
                nextMode = "darkly";
                $('.bi-lightbulb').addClass("bi-lightbulb-off").removeClass("bi-lightbulb");
                $('body').css({'background-image':'url(../static/images/default.png)', "color": "black"});
                $("#searchWrapper").css('background-image','url(../static/images/default.png)')
                $(".card-body").css('background-image','url(../static/images/default.png)')
            }
        }
    </script>

  <script type="text/javascript">
 (function createCover(){
   $(document.body).append(
     $('<div/>').attr('id',"divCover")
        .css({
       "display" : "none",
       "background" : "#000",
       "position" : "absolute",
       "left" : "0px",
       "top" : "0px",
       "width" : $(document).width()+'px',
       "height" : $(document).height()+'px',
       "z-index" : "9999",
//       "opacity" : brightness
      }));
  })();
 function check(){
  if($('#night').is(':checked')){
  $("#divCover").css("opacity", brightness = 0.5);
        $("#divCover").show();
  }

 else{
        $("#divCover").hide();

 }
}

    function setIsSearchID(x) {
            isSearchID = x;
    }
</script>
  </body>

<footer>
{#<div class="control" float="right">#}
{#  <input class="" float="right" type="checkbox" onClick="check()" id="night"><h6 size="1px;">NightMode</h6>#}
{# </div>#}
</footer>
</html>
