{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Collection{% endblock %}

{% block result %}
  <style>
    #navbar {
      visibility: hidden;
    }
  </style>

<!--搜索结果列表-->
  {% if content %}
    {% for c in content %}
      <div class="card">

        {% if c.asin %}
          <h5 class="card-header">{{c.asin}}</h5>
        {% endif %}

        <div class="card-body">
          {% if c.title %}
            <h4 class="card-title">{{c.title}}</h4>
          {% endif %}
          {% if c.img %}
            <img src={{c.img}} class="img-thumbnail" alt="...">
          {% endif %}
          {% if c.description %}
            <p class="card-text">{{c.description}}</p>
          {% endif %}
        </div>

      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

<script src="../static/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/collection.js" type="text/javascript" charset="utf-8"></script>

<footer class="footer">
		<div class="footerItem ">
			<p><img src="../static/images/collection.jpg"> </p><p>My Collection</p></div>
		<div class="footerItem">
			<p><img src="../static/images/index.png"></p><p>
            <a href="{{ url_for('app.homepage') }}" target="_self">HomePage</a></p></div>
</footer>

