<!DOCTYPE html>
<html lang="en">
<head>
    <title>News Search Engine</title>
    <style type="text/css">
        div#doc {width:800px}
    .pagination-page-info {
        padding: .6em;
        padding-left: 0;
        width: 40em;
        margin: .5em;
        margin-left: 0;
        font-size: 12px;
    }
    .pagination-page-info b {
        color: black;
        background: #6aa6ed;
        padding-left: 2px;
        padding: .1em .25em;
        font-size: 150%;
    }
    </style>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>News Search Engine</h1>
            <form name="search" action="/search/" method="POST">
                <p>
                    <input type="text" name="query">

                    <input type="submit" value="Search">

                    <input {{checked[0]}} type="radio" name="order" id="r1" value="0" /> <label for="r1">相关度</label>
                    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck1" onclick="#">Description</label>
                </p>
            </form>
        </div>
        <hr/>
    </div>
</body>
</html>
